# Exercises

## Set up environment

### Python for R users

* Install Python (if you don't have it)
* Create a new project
    * This project should be in version control
    * Set up JupyterLab
    * Set up VSCode
    * Dependencies stored in a file

### R for Python users

* Install R
* Install RStudio
* Create a new project
    * Create and test an R script
    * Create and test an R notebook (RMD)

## Bilingual dictionary: translation

Create a 1:1 translation of the following scripts.

### Python to R

In [1]:
import pandas as pd

In [2]:
temperatures_fahrenheit = [123, 56, 13, 55, 233]

In [3]:
for temp in temperatures_fahrenheit:
    print(temp + 10)

133
66
23
65
243

In [4]:
temperatures_adjusted = [(x - 10) / 2.3 for x in temperatures_fahrenheit]

In [5]:
temperatures_adjusted

[49.1304347826087,
 20.0,
 1.3043478260869565,
 19.565217391304348,
 96.95652173913044]

In [3]:
def adjust_temperature(temp):
    return(round((temp - 10 / 2.3), 2))

In [4]:
adjust_temperature(23)

18.65

In [22]:
cities = ["Berlin", "Beijing", "Cairo", "Sao Paolo", "Madrid"]

In [29]:
cities_temp_df = pd.DataFrame(zip(cities, temperatures_adjusted), columns=["city", "temperature_adj"])

In [30]:
cities_temp_df

        city  temperature_adj
0     Berlin        49.130435
1    Beijing        20.000000
2      Cairo         1.304348
3  Sao Paolo        19.565217
4     Madrid        96.956522

In [31]:
cities_temp_df["city"] = cities_temp_df["city"].str.upper()

In [33]:
cities_temp_df.head(1)

     city  temperature_adj
0  BERLIN        49.130435

### R to Python

In [1]:
employees <- c("Jake", "Bob", "Alice", "Matthias", "Sylvia")
salaries <- c(233, 55, 123, 55, 61)

In [10]:
salaries_yearly <- salaries * 12
salaries_square_root <- sqrt(salaries)

In [13]:
deduce_tax <- function(salary) {
    return(salary - 0.2 * salary)
}

In [14]:
salaries_without_tax <- deduce_tax(salaries_yearly)

This one will require some googling! Tip: search for the `zip` method.

In [15]:
employee_df <- data.frame(employees, salaries, salaries_yearly, salaries_square_root, salaries_without_tax)

In [16]:
employee_df

  employees salaries salaries_yearly salaries_square_root salaries_without_tax
1 Jake      233      2796            15.264338            2236.8
2 Bob        55       660             7.416198             528.0
3 Alice     123      1476            11.090537            1180.8
4 Matthias   55       660             7.416198             528.0
5 Sylvia     61       732             7.810250             585.6

## Data format context

### Text data basics with Python

* have `spaCy`/`nltk` installed
* Get onto a news website and find a paragraph of interest.
* Tokenize the paragraph into sentences
* Take one sentence and tokenize into words
* Remove stopwords
* Extract all verbs (bonus points)

More bonus points for removing punctuation.

You can use this paragraph if you want: `The Real players wore shirts with \"A por la 14\" on the back after \
their win over Manchester City. It roughly translates as \"all out for 14\" as they \
chase a 14th Champions League title.`

## Workflow context

### Data wrangling with R

* Load the `diamonds` dataset
* Then in one pipeline do:
    * filter out diamonds with price below 500 and color J
    * take random 40% of the remaining data
    * group by cut and compute average carat