# Bilingual Dictionary (R)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/1280px-R_logo.svg.png" width="200" height="200" />

## Basic testing

In [1]:
2 + 2

[1] 4

## Installing packages

In [ ]:
install.packages("dplyr")

## Loading packages

In [2]:
library(dplyr)

Attache Paket: ‘dplyr’


Die folgenden Objekte sind maskiert von ‘package:stats’:

    filter, lag


Die folgenden Objekte sind maskiert von ‘package:base’:

    intersect, setdiff, setequal, union

Load and use just one function from a package: `dplyr::sample_frac()`

## Assignment and operators

In [4]:
name <- "Anna"
age <- 42
height <- 177.2
female <- TRUE

In [5]:
print(name)

[1] "Anna"

In [6]:
age + 3

[1] 45

## Types

In [7]:
class(name)

[1] "character"

In [8]:
class(age)

[1] "numeric"

In [9]:
class(height)

[1] "numeric"

In [10]:
class(female)

[1] "logical"

## Functions and methods

In [11]:
?sample_frac

sample_n                 package:dplyr                 R Documentation

_S_a_m_p_l_e _n _r_o_w_s _f_r_o_m _a _t_a_b_l_e

_D_e_s_c_r_i_p_t_i_o_n:

     *[Superseded]* ‘sample_n()’ and ‘sample_frac()’ have been
     superseded in favour of ‘slice_sample()’. While they will not be
     deprecated in the near future, retirement means that we will only
     perform critical bug fixes, so we recommend moving to the newer
     alternative.

     These functions were superseded because we realised it was more
     convenient to have two mutually exclusive arguments to one
     function, rather than two separate functions. This also made it to
     clean up a few other smaller design issues with
     ‘sample_n()’/‘sample_frac’:

        • The connection to ‘slice()’ was not obvious.

        • The name of the first argument, ‘tbl’, is inconsistent with
          other single table verbs which use ‘.data’.

        • The ‘size’ argument uses tidy evaluation, which is surprising
          and undocumented.

        • It was easier to remove the deprecated ‘.env’ argument.

        • ‘...’ was in a suboptimal position.

_U_s_a_g_e:

     sample_n(tbl, size, replace = FALSE, weight = NULL, .env = NULL, ...)

     sample_frac(tbl, size = 1, replace = FALSE, weight = NULL, .env = NULL, ...)

_A_r_g_u_m_e_n_t_s:

     tbl: A data.frame.

    size: <‘tidy-select’> For ‘sample_n()’, the number of rows to
          select. For ‘sample_frac()’, the fraction of rows to select.
          If ‘tbl’ is grouped, ‘size’ applies to each group.

 replace: Sample with or without replacement?

  weight: <‘tidy-select’> Sampling weights. This must evaluate to a
          vector of non-negative numbers the same length as the input.
          Weights are automatically standardised to sum to 1.

    .env: DEPRECATED.

     ...: ignored

_E_x_a_m_p_l_e_s:

     by_cyl <- mtcars %>% group_by(cyl)

     # sample_n() -> slice_sample() ----------------------------------------------
     sample_n(mtcars, 10)
     sample_n(mtcars, 50, replace = TRUE)
     sample_n(mtcars, 10, weight = mpg)

     # Changes:
     # * explicitly name the `n` argument,
     # * the `weight` argument is now `weight_by`.

     slice_sample(mtcars, n = 10)
     slice_sample(mtcars, n = 50, replace = TRUE)
     slice_sample(mtcars, n = 10, weight_by = mpg)

     # Note that sample_n() would error if n was bigger than the group size
     # slice_sample() will just use the available rows for consistency with
     # the other slice helpers like slice_head()

     # sample_frac() -> slice_sample() -------------------------------------------
     sample_frac(mtcars)
     sample_frac(mtcars, replace = TRUE)

     # Changes:
     # * use prop = 1 to randomly sample all rows

     slice_sample(mtcars, prop = 1)
     slice_sample(mtcars, prop = 1, replace = TRUE)

In [12]:
sum_two <- function(a, b) {
    return(a + b)
}

In [13]:
sum_two(2, 3)

[1] 5

## Logical expressions

In [14]:
1 == 2

[1] FALSE

In [15]:
1 < 2

[1] TRUE

In [16]:
1 < 2 && 3 < 4

[1] TRUE

In [17]:
3 < 2 | 3 < 2

[1] FALSE

## Lists, vectorization and indexing

In R what we call a `list` in Python, is actually a `vector` of a data type.

In [18]:
heights <- c(155, 174, 182, 198)
weights <- c(77, 65, 89, 95)

In [19]:
heights[0]

numeric(0)

In [20]:
heights[1]

[1] 155

In [21]:
heights[1:3]

[1] 155 174 182

Now this is unexpected:

In [22]:
heights[-1]

[1] 174 182 198

In [23]:
last(heights)

[1] 198

In R vectorization works by default, remember the FUBU principle!

In [24]:
heights + 1

[1] 156 175 183 199

In [25]:
heights / weights

[1] 2.012987 2.676923 2.044944 2.084211

## Loops

In [26]:
for (i in heights) {
    print(i)
}

[1] 155
[1] 174
[1] 182
[1] 198

In [27]:
add_one <- function(x) {
    return(x + 1)
}

But normally we iterate in R using the `apply` family of functions:

In [28]:
lapply(heights, add_one)

[[1]]
[1] 156

[[2]]
[1] 175

[[3]]
[1] 183

[[4]]
[1] 199

## Dataframes

In [29]:
data("starwars")

In [38]:
head(starwars)

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

This is not just a regular`data.frame`:

In [31]:
class(starwars)

[1] "tbl_df"     "tbl"        "data.frame"

In [42]:
head(starwars["name"])

  name
1 Luke Skywalker
2 C-3PO
3 R2-D2
4 Darth Vader
5 Leia Organa
6 Owen Lars

In [33]:
starwars$name

 [1] "Luke Skywalker"        "C-3PO"                 "R2-D2"
 [4] "Darth Vader"           "Leia Organa"           "Owen Lars"
 [7] "Beru Whitesun lars"    "R5-D4"                 "Biggs Darklighter"
[10] "Obi-Wan Kenobi"        "Anakin Skywalker"      "Wilhuff Tarkin"
[13] "Chewbacca"             "Han Solo"              "Greedo"
[16] "Jabba Desilijic Tiure" "Wedge Antilles"        "Jek Tono Porkins"
[19] "Yoda"                  "Palpatine"             "Boba Fett"
[22] "IG-88"                 "Bossk"                 "Lando Calrissian"
[25] "Lobot"                 "Ackbar"                "Mon Mothma"
[28] "Arvel Crynyd"          "Wicket Systri Warrick" "Nien Nunb"
[31] "Qui-Gon Jinn"          "Nute Gunray"           "Finis Valorum"
[34] "Jar Jar Binks"         "Roos Tarpals"          "Rugor Nass"
[37] "Ric Olié"              "Watto"                 "Sebulba"
[40] "Quarsh Panaka"         "Shmi Skywalker"        "Darth Maul"
[43] "Bib Fortuna"           "Ayla Secura"           "Dud Bolt"
[46] "Gasgano"               "Ben Quadinaros"        "Mace Windu"
[49] "Ki-Adi-Mundi"          "Kit Fisto"             "Eeth Koth"
[52] "Adi Gallia"            "Saesee Tiin"           "Yarael Poof"
[55] "Plo Koon"              "Mas Amedda"            "Gregar Typho"
[58] "Cordé"                 "Cliegg Lars"           "Poggle the Lesser"
[61] "Luminara Unduli"       "Barriss Offee"         "Dormé"
[64] "Dooku"                 "Bail Prestor Organa"   "Jango Fett"
[67] "Zam Wesell"            "Dexter Jettster"       "Lama Su"
[70] "Taun We"               "Jocasta Nu"            "Ratts Tyerell"
[73] "R4-P17"                "Wat Tambor"            "San Hill"
[76] "Shaak Ti"              "Grievous"              "Tarfful"
[79] "Raymus Antilles"       "Sly Moore"             "Tion Medon"
[82] "Finn"                  "Rey"                   "Poe Dameron"
[85] "BB8"                   "Captain Phasma"        "Padmé Amidala"

In [34]:
class(starwars$name)

[1] "character"

In [35]:
starwars$name[0:3]

[1] "Luke Skywalker" "C-3PO"          "R2-D2"

This is syntactically the nicest way!

In [36]:
starwars %>% select("name", "sex") %>% head()

  name           sex
1 Luke Skywalker male
2 C-3PO          none
3 R2-D2          none
4 Darth Vader    male
5 Leia Organa    female
6 Owen Lars      male