# Bilingual Dictionary (Python)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png" width="200" height="200" />

## Basic testing

In [1]:
2 + 2

4

## Installing packages

In Jupyter you can use `!` to execute commands on the command line, through a cell:

In [ ]:
!pip install pandas

## Loading packages

In [2]:
import pandas as pd

Note the alias!

Using one function only:

In [3]:
from sklearn.model_selection import train_test_split

## Assignment and operators

In [4]:
name = "Anna"
age = 42
height = 177.2
female = True

In [5]:
print(name)

Anna

In [6]:
age + 3

45

## Types

In [7]:
type(name)

str

In [8]:
type(age)

int

In [9]:
type(height)

float

In [10]:
type(female)

bool

## Functions and methods

In [11]:
def sum_two(a, b):
    return(a + b)

In [12]:
sum_two(2, 3)

5

## Logical expressions

In [13]:
2 > 1

True

In [14]:
2 > 3

False

In [15]:
3 >= 3

True

In [16]:
(2 > 1) & (4 > 3)

True

In [17]:
(2 > 1) & (4 > 5)

False

In [18]:
(2 > 1) | (4 > 3)

True

In [19]:
"Anna" == "James"

False

In [20]:
"Anna" == "Anna"

True

## Lists, vectorization and indexing

In [21]:
heights = [155, 174, 182, 198]
weights = [77, 65, 89, 95]

In [22]:
type(heights)

list

In [23]:
heights + 1

TypeError: can only concatenate list (not "int") to list

In [24]:
weights[0]

77

In [25]:
weights[0:3]

[77, 65, 89]

In [26]:
weights[-1]

95

In [27]:
import numpy as np

In [28]:
heights_np = np.array(heights)
weights_np = np.array(weights)

In [29]:
type(heights_np)

numpy.ndarray

In [30]:
heights_np + 1

array([156, 175, 183, 199])

In [31]:
bmi = heights_np / weights_np
bmi

array([2.01298701, 2.67692308, 2.04494382, 2.08421053])

## Loops

In [32]:
for height in heights:
    print(height + 1)

156
175
183
199

This is called list comprehension. Very Pythonic and commonly used in anonymous functions.

In [33]:
[x + 1 for x in heights]

[156, 175, 183, 199]

In [34]:
for i in range(0, len(heights)):
    print(heights[i])

155
174
182
198

## Dataframes

In [35]:
import pandas as pd

In [37]:
starwars = pd.read_csv("../datasets/starwars.csv")

In [38]:
starwars

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,NaN,NaN,NaN
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,NaN,NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,NaN,NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,NaN,NaN,NaN
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,NaN,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,NaN,NaN,NaN
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,NaN,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,NaN,NaN,NaN

In [39]:
type(starwars)

pandas.core.frame.DataFrame

In [40]:
starwars["name"]

0     Luke Skywalker
1              C-3PO
2              R2-D2
3        Darth Vader
4        Leia Organa
           ...
82               Rey
83       Poe Dameron
84               BB8
85    Captain Phasma
86     Padmé Amidala
Name: name, Length: 87, dtype: object

In [41]:
starwars["name"].tolist()[0:5]

['Luke Skywalker', 'C-3PO', 'R2-D2', 'Darth Vader', 'Leia Organa']

In [42]:
starwars["name"].head().tolist()

['Luke Skywalker', 'C-3PO', 'R2-D2', 'Darth Vader', 'Leia Organa']

In [43]:
starwars[["name", "sex"]].head()

             name     sex
0  Luke Skywalker    male
1           C-3PO    none
2           R2-D2    none
3     Darth Vader    male
4     Leia Organa  female